header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

header::before {
    content: url('../images/logo.png'); /* Assuming you have a logo.png in your images directory */
}
