.container {
    max-width: 1000px;
    margin: 30px auto;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.locations, .amenities {
    width: 25%;
    border-right: 1px solid #DDDDDD;
    padding: 10px;
}

.amenities {
    border-right: none; 
}

h3 {
    font-weight: 600;
    margin: 0;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    color: #484848;
    margin: 0;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: white;
    border: none;
    border-radius: 4px;
    height: 48px;
	width:20%;
    padding: 0 20px;
    cursor: pointer;
    transition: opacity 0.3s;
    align-self: center;
    margin-left: auto; 
    margin-right: 10px; 
}

button:hover {
    opacity: 0.9;
}
